node_modules
demo
public
src
coverage
test

.github
.git
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace
.run
.eslintrc.js
.prettierrc
npm-debug.log*
tsconfig.json
webpack.config.js
